  <nav class="navbar  navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Week Plan</a>
    <ul>
      <li routerLinkActive="active current"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active current"><a routerLink="/note">Note</a></li>
      <li routerLinkActive="active current"><a routerLink="/projects">Projects</a></li>      
      <li routerLinkActive="active current"><a routerLink="/add-item">Add New</a></li>
      <li routerLinkActive="active current"><a routerLink="/employees">Employees</a></li>
    </ul>
  </nav>
